
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#introducao {
    font-size: 20px;
    color: rgb(250, 96, 1);
    padding: 0 10px;
}

header {
    padding: 20px;
    display: flex;
    gap: 77%;
}

#menu {
    color: rgb(250, 96, 1);
    display: flex;
    padding: 10px;
    gap: 10px;
}

#concertos {
    color: rgb(250, 96, 1);
}

#header-right {
    flex-direction: column;
    display: flex;
    align-items: center;
}   

#inicio{
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    gap: 50px;
    padding: 0 50px;
    line-height: 45px;        
    justify-content:space-between;
    align-items: center;
}

#inicio img{
    width: 200px;
    height: auto;
}

#inicio h2 {
    font-size: 50px;
}

#inicio h1 {
    color: rgb(250, 96, 1);
    font-size: 60px;
}

#inicio p {
    color: rgb(250, 96, 1);
}

#concertos {
    padding: 20px;
}


#concertos h2 {
    font-size: 45px;
}


#conheca {
    color: rgb(250, 96, 1)
}

.cards {
    background-color: rgb(250, 96, 1);
    padding: 20px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    height: 470px;
}

.cards h3 {
    font-size: 35px;
}


.cards img {
    width: 100%;
    object-fit: cover;
    object-fit:scale-down;
    height: 350px;
}

#galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

hr {
    margin: 20px;
}

footer {
    padding: 20px;
    background-color: rgb(250, 96, 1);
}

main {
    background-color: rgb(0, 0, 0);
}

#linha {
    background-color: rgb(250, 96, 1);
}

table {
    color: white;
    width: 90%;
    border: 2px solid white;
    border-collapse: collapse;
    margin: 20px;
}

tr {
    color: white;
}

th {
    color:rgb(250, 96, 1);
    align-items: center;
    border: 2px solid white;
    justify-content: center;
}

td {
    color: white;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
}